h2
	|User Dasboard
|Welcome, 
=current_user.name
br
br
|Instructions <br/> ....<br/> ....
br

br
-if current_user.answers.count == 0
	=button_to 'Take Test', test_path, method: :get, class:'btn btn-primary'
-else
	=button_to 'Continue Test', test_path, method: :get, class:'btn btn-primary'
br
=button_to 'See current progress', progress_path, method: :get, class:'btn btn-info' if current_user.answers.count != 0